
<h1>Welcome to the Haunted House!</h1>
<p>At any time you can <a href='/reset/'>exit</a> the house if you get too scared!</p>
<p> Inventory:</p>
{% for item in world %}
    {% if item["name"] == "quiz attempts"%}
    You have {{ item["attempts"]}} quiz attempts(s) left!
    {% endif %}
    {% if item["name"] == "hat" and item["own"] %}
    <p> Witch's hat</p>
{% endif %}
{% if item["name"] == "hand" and item["own"] %}
    <p> Skeleton's hand</p>
{% endif %}
{% if item["name"] == "cape" and item["own"] %}
    <p> Vampire cape</p>
{% endif %}
{% endfor %}
<link rel="stylesheet" href ='static/page_style.css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<br><br>
{% block content %}
{% endblock %}