
<h1>Welcome to the Haunted House!</h1>
<p>At any time you can <a href='/reset/'>exit</a> the house if you get too scared!</p>
<p> Inventory:</p>
{% for item in world %}
    {% if item["name"] == "quiz attempts"%}
    You have {{ item["attempts"]}} quiz attempts(s) left!
    {% endif %}
    {% if item["name"] == "hat" and item["own"] %}
    <p> Witch's hat</p>
{% endif %}
{% if item["name"] == "hand" and item["own"] %}
    <p> Skeleton's hand</p>
{% endif %}
{% if item["name"] == "cape" and item["own"] %}
    <p> Vampire cape</p>
{% endif %}
{% endfor %}
{{ world }}
{% block content %}
{% endblock %}