{% extends "Game_header.html" %}
{% block content %}
<h2> You took the Witch's hat!</h2>
<img src ="/static/Witch_hat.jpg"><br>
<form action ="/save_witch/ ">
    Does the witch have green skin?:<br>
   <select name = "question_1">
   <option value ="Yes" >Yes</option>
   <option value ="No">No</option><br>
   </select>
   <br>Does the witch have a broom stick?:<br>
    <select name = "question_2">
        <option value = "Yes">Yes</option>
        <option value = "No">No</option>
    </select>
    <br>Is the witch wearing a purple robe?:<br>
    <select name = "question_3">
        <option value ="Yes">Yes</option>
        <option value ="No">No</option>
    </select>
    <input type="submit" value="value"/>
    </form>
{% endblock %}