{% extends "Game_header.html" %}
{% block content %}
<h2> You took the Witch's hat!</h2>
<img src ="/static/Witch_hat.jpg"><br>
<form action ="/save_witch/ ">
    <br>Why did they witches' team lose the baseball game?:<br>
   <select name = "question_1">
   <option disabled selected value >Pick an answer! </option>
   <option value ="Their bats flew away!">Their bats flew away!</option>
       <option value="They just weren't good">They just weren't good</option>
       <option value="They other team was way better">The other team was way better</option>
   </select>
   <br><br>What do you call two witches who live together?:<br>
    <select name = "question_2">
        <option disabled selected value> Pick an answer!</option>
        <option value = "Sisters"> Sisters</option>
        <option value = "Best friends">Best friends</option>
        <option value = "Broom mates!"> Broom mates</option>
    </select>
    <br><br>What do witches in Australia ride?:<br>
    <select name = "question_3">
        <option disabled selected value> Pick an answer!</option>
        <option value ="A broom-erang!">A broom-erang!</option>
        <option value = "A train">A train</option>
        <option value ="A car"> A car</option>
    </select>
    <br><br><input type="submit" value="Submit!"/>
    </form>
{% endblock %}